<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {pageName: 'Login'}) %>

<body>
    <main class="container">
    <div class="newForm whitebox">
    <%- include('../partials/nav.ejs') %>

        <div>
            <h1> Login </h1>
            <form action="/login" method="POST" class="row g-3">
                <div>
                    <label> Email </label>
                    <div>
                        <input type="email" class="form-control input" name="email" placeholder="Example@domain.com...">
                    </div>
                </div>
                <div>
                    <label> Password </label>
                    <div>
                        <input type="password" class="form-control input" name="password" placeholder="*******">
                    </div>
                </div>
                <div>
                    <br/>
                    <div>
                        <button type="submit" class="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </main>
</body>
</html>