<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {pageName: 'Login'}) %>

<body>
    <%- include('../partials/nav.ejs') %>
        <main class="container">
            <div class="newForm whitebox">
                <h1> Login </h1>
                <form action="/login" method="POST" class="row g-3 justify-content-center">
                    <div class="col-md-6">
                    
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control input" name="email" placeholder="elon@twitter.com">
                
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control input" name="password" placeholder="*******">
                <br/>
                    <button type="submit" class="button">Submit</button>
                    
                    </div>
                </form>
            </div>
        </main>   
</body>
</html>