<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/catalog">
      <img src="https://media0.giphy.com/media/VhJpbLxoHO9yAnN5oI/200w.gif" alt="" 
      class="d-inline-block align-text-top"></a>
      <a href="/catalog/new">Add Album</a>
  </div>
</nav>