<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/catalog">
      <img src="https://vinylgif.com/gifs/201412/vinyl-globe-animation.gif" alt="" width="100" height="100" class="d-inline-block align-text-top"></a>
      <a href="/catalog/new">Add Album</a>
  </div>
</nav>