<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/catalog">
      <img src="https://media0.giphy.com/media/VhJpbLxoHO9yAnN5oI/200w.gif" alt="" width="50" height="50" class="d-inline-block align-text-top">
      Catalog
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
                <a class="nav-link" href="/catalog/new">Add Album</a>
                <a class="nav-link" href="/about">About</a>
        </ul>
      </div>
  </div>
</nav>