<%- include('partials/head.ejs', { pageName: 'Catalog' }) %>
<body>
<%- include('partials/nav.ejs') %>
    <main class="container whitebox aboutMe">
        <h1>About This Catalog</h1>
        <img src="https://media4.giphy.com/media/lvlLuc2zhi39C/giphy.gif?cid=ecf05e47la8y1gsyx5xz1cu12ogn2t35ol6hagj1zcdfrhn1&rid=giphy.gif&ct=g" alt="They all go to 11">
            <p>This is my About Me Page</p>
    </main>
    
    
</body>
</html>