<%- include('partials/head.ejs', { pageName: 'Catalog' }) %>
<body>
<%- include('partials/nav.ejs') %>
    <main class="container">
        <div class="newForm whitebox">
            <h1>About This Catalog</h1>
            <img src="https://media4.giphy.com/media/3o6ZtjUZAD5Lf0QFLW/giphy.gif?cid=ecf05e47try3v6ymkjhe4506r8eehe027r26dqkswwsenhvx&rid=giphy.gif&ct=g" alt="Party Time Excellent">
                <div class="about">
                    <p>Welcome to TapeDisc!  TapeDisc is a music media catalog where users can keep track of their music media collections!  If your not a user you are welcome to browse the Catalog, if you would like to contribute items from your personal collection all you have to do is register!</p>
                </div>
            </div>
        </main> 
        <%- include('partials/footer.ejs') %>
</body>