<%- include('partials/head.ejs', { pageName: 'Catalog' }) %>
<body>
<%- include('partials/nav.ejs') %>
    <main class="container">
        <div class="whitebox aboutMe">
        <h1>About This Catalog</h1>
        <img src="https://media4.giphy.com/media/3o6ZtjUZAD5Lf0QFLW/giphy.gif?cid=ecf05e47try3v6ymkjhe4506r8eehe027r26dqkswwsenhvx&rid=giphy.gif&ct=g" alt="Party Time Excellent">
            <p>This is my About Me Page</p>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>