<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: 'Add Album to Catelog' }) %>
<body>
    <%- include('partials/nav.ejs') %>
    <main>
        <h1>Add Album to Catalog </h1>
        <form method="POST" action="/catalog">
            <div>
                <label for="artist">Artist</label>
                <input name="artist" type="text" placeholder="Artist name..." />
            </div>
            <div>
                <label for="album">Album</label>
                <input name="album" type="text" placeholder="Album name..." />
            </div>
            <div>
                <label for="image">Album Art</label>
                <input name="image" type="text" placeholder="Album art URL..." />
            </div>
            <div>
                <label for="itemValue">Item Value</label>
                <input name="itemValue" type="number" placeholder="Cost of album..." /> 
            </div>
            <div>
                <label for="mediaFormat">Media Format</label>
                <input name="mediaFormat" type="text" placeholder="Media format..." />
            </div>
            <div>
                <label for="releaseYear">Release Year</label>
                <input name="releaseYear" type="text" placeholder="Year of release..." />
            </div>
            <div>
                <label for="trackList">Track List</label>
                <input name="trackList" type="text" placeholder="Name of track..." />
            </div>
            <div>
                <label for="collectorComments">Collector's Comments</label>
                <input name="collectorComments" type="text" placeholder="Comment..." />
            </div>
            <div>
                <label for="link">Spotify Link</label>
                <input name="link" type="text" placeholder="Spotify link..." />
            </div>
            <div>
                <label for="link">Apple Music Link</label>
                <input name="link" type="text" placeholder="Apple Music link..." />
            </div>

            <button type="submit">Add Album to Catalog</button>
        </form>
    </main>
</body>
</html>