body {
    background-color: rgb(240, 240, 240);
}

.album-art {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.input {
    max-width: 500px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.left {
    text-align: justify;
}

.middle {
    text-align: center;
}